In [1]:
import numpy as np
import pandas as pd
import joblib
import warnings
warnings.filterwarnings('ignore')

In [2]:
country = 'ESP'
model = joblib.load(f'models/{country}_model.pkl')
scaler = joblib.load(f'scalers/{country}_scaler.pkl')

In [3]:
main_data = pd.read_csv("combined_data.csv", index_col=[0, 1])

In [4]:
main_data

                    Inflation  Population           GDP      Export  \
Country Code Year
ABW          1980         NaN     59909.0           NaN         NaN
             1981         NaN     60563.0           NaN         NaN
             1982         NaN     61276.0           NaN         NaN
             1983         NaN     62228.0           NaN         NaN
             1984         NaN     62901.0           NaN         NaN
...                       ...         ...           ...         ...
ZWE          2017    0.893962  14812482.0  5.107466e+10  107.151887
             2018   10.618866  15034452.0  3.415607e+10  124.909506
             2019  255.304991  15271368.0  2.571741e+10  131.425343
             2020  557.201817  15526888.0  2.686794e+10  135.325610
             2021   98.546105  15797210.0  2.724052e+10  185.806800

                       Import
Country Code Year
ABW          1980         NaN
             1981         NaN
             1982         NaN
             1983         NaN
             1984         NaN
...                       ...
ZWE          2017   83.660837
             2018  105.579357
             2019   79.585840
             2020   82.633621
             2021  118.756526

[7686 rows x 5 columns]

In [5]:
country_data = main_data.loc['ESP']
country_data

      Inflation  Population           GDP      Export      Import
Year
1980  15.561902  37491165.0  2.326006e+11         NaN         NaN
1981  14.549346  37758631.0  2.026630e+11         NaN         NaN
1982  14.415002  37986012.0  1.958568e+11         NaN         NaN
1983  12.174073  38171525.0  1.708291e+11         NaN         NaN
1984  11.280277  38330364.0  1.719800e+11         NaN         NaN
1985   8.814455  38469512.0  1.806643e+11         NaN         NaN
1986   8.794939  38584624.0  2.511416e+11         NaN         NaN
1987   5.248019  38684815.0  3.185203e+11         NaN         NaN
1988   4.837271  38766939.0  3.758917e+11         NaN         NaN
1989   6.791436  38827764.0  4.144608e+11         NaN         NaN
1990   6.721820  38867322.0  5.361753e+11         NaN         NaN
1991   5.934213  38966376.0  5.767539e+11         NaN         NaN
1992   5.924531  39157685.0  6.304654e+11         NaN         NaN
1993   4.569072  39361262.0  5.247006e+11         NaN         NaN
1994   4.718414  39549108.0  5.301837e+11         NaN         NaN
1995   4.673803  39724050.0  6.141700e+11   34.668118   36.409375
1996   3.558846  39889852.0  6.422514e+11   37.940233   38.818498
1997   1.971074  40057389.0  5.897398e+11   35.697553   37.094034
1998   1.834330  40223509.0  6.187315e+11   39.630196   43.779851
1999   2.310348  40386875.0  6.343949e+11   37.031760   43.441470
2000   3.433516  40567864.0  5.981029e+11   40.728653   49.945938
2001   3.589834  40850412.0  6.277987e+11   41.328513   49.590817
2002   3.065657  41431558.0  7.089382e+11   44.526730   52.943485
2003   3.038888  42187645.0  9.079632e+11   55.317441   66.891648
2004   3.039249  42921895.0  1.069829e+12   64.697093   82.837861
2005   3.368814  43653155.0  1.154668e+12   68.247405   92.603696
2006   3.515576  44397319.0  1.261847e+12   75.712647  105.401638
2007   2.786797  45226803.0  1.476746e+12   89.734672  124.835577
2008   4.075343  45954106.0  1.636115e+12   99.723514  134.937135
2009  -0.287813  46362946.0  1.496588e+12   80.538305   94.024871
2010   1.799865  46576897.0  1.427989e+12   90.131540  104.862685
2011   3.196102  46742697.0  1.487569e+12  108.600570  120.764632
2012   2.446128  46773055.0  1.330995e+12  104.597172  108.172855
2013   1.408581  46620045.0  1.362187e+12  112.549339  109.225221
2014  -0.151115  46480882.0  1.380245e+12  114.970947  115.074142
2015  -0.500366  46444832.0  1.206165e+12  100.000000  100.000000
2016  -0.202598  46484062.0  1.243016e+12  102.730581   99.701745
2017   1.956076  46593236.0  1.321754e+12  113.199098  112.868199
2018   1.674981  46797754.0  1.431643e+12  122.843234  125.239788
2019   0.699519  47134837.0  1.403496e+12  118.331152  119.528151
2020  -0.322753  47365655.0  1.289784e+12  109.226105  104.598690
2021   3.093135  47415794.0  1.461245e+12  135.681288  134.094859

In [6]:
country_data = country_data.dropna()

In [7]:
features_columns = ['Population', 'Inflation', 'Import', 'Export']  
country_data[features_columns] = scaler.transform(country_data[features_columns])

In [8]:
country_data

      Inflation  Population           GDP    Export    Import
Year
1995   2.046269   -1.620659  6.141700e+11 -1.430207 -1.608640
1996   1.208922   -1.563884  6.422514e+11 -1.333622 -1.535775
1997   0.016486   -1.506516  5.897398e+11 -1.399820 -1.587932
1998  -0.086210   -1.449632  6.187315e+11 -1.283738 -1.385717
1999   0.271285   -1.393692  6.343949e+11 -1.360438 -1.395951
2000   1.114798   -1.331717  5.981029e+11 -1.251314 -1.199221
2001   1.232195   -1.234966  6.277987e+11 -1.233608 -1.209962
2002   0.838531   -1.035968  7.089382e+11 -1.139204 -1.108559
2003   0.818428   -0.777066  9.079632e+11 -0.820687 -0.686691
2004   0.818699   -0.525641  1.069829e+12 -0.543822 -0.204391
2005   1.066206   -0.275240  1.154668e+12 -0.439025  0.090981
2006   1.176426   -0.020421  1.261847e+12 -0.218668  0.478061
2007   0.629105    0.263614  1.476746e+12  0.195229  1.065848
2008   1.596818    0.512660  1.636115e+12  0.490077  1.371374
2009  -1.679965    0.652657  1.496588e+12 -0.076226  0.133965
2010  -0.112094    0.725919  1.427989e+12  0.206944  0.461760
2011   0.936497    0.782692  1.487569e+12  0.752107  0.942721
2012   0.373258    0.793088  1.330995e+12  0.633936  0.561877
2013  -0.405953    0.740694  1.362187e+12  0.868665  0.593707
2014  -1.577303    0.693041  1.380245e+12  0.940145  0.770610
2015  -1.839595    0.680696  1.206165e+12  0.498238  0.314686
2016  -1.615967    0.694130  1.243016e+12  0.578838  0.305665
2017   0.005223    0.731513  1.321754e+12  0.887844  0.703890
2018  -0.205883    0.801545  1.431643e+12  1.172517  1.078074
2019  -0.938467    0.916971  1.403496e+12  1.039331  0.905323
2020  -1.706205    0.996008  1.289784e+12  0.770571  0.453775
2021   0.859168    1.013177  1.461245e+12  1.551466  1.345899

# Counterfactual explanation

In [9]:
import dice_ml
from dice_ml.utils import helpers

In [11]:
import dice_ml
from dice_ml.utils import helpers

d = dice_ml.Data(dataframe=country_data, continuous_features=['Population', 'Inflation', 'Import', 'Export'], outcome_name='GDP')

m = dice_ml.Model(model=model, backend='sklearn', model_type='regressor') 

exp = dice_ml.Dice(d, m)

query_instance = country_data.drop(columns="GDP").loc[2021:2021]


desired_range = [1.5e+12, 1.7e+12]  

features_to_vary = ['Population', 'Inflation', 'Import', 'Export']
#permitted_range = {'Population':[0, 10000e6], 'Inflation':[0,20]}

dice_exp = exp.generate_counterfactuals(query_instance, total_CFs=4, 
                                        features_to_vary=features_to_vary,
                                        desired_range=desired_range)

dice_exp.visualize_as_dataframe(show_only_changes=True)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00,  5.72it/s]

Query instance (original outcome : 1525586853888.0)

   Inflation  Population    Export    Import           GDP
0   0.859168    1.013177  1.551466  1.345899  1.525587e+12

Diverse Counterfactual set (new outcome: [1500000000000.0, 1700000000000.0])

     Inflation    Population Export      Import GDP
0            -             -      -  0.99892586   -
1  1.136458053             -      -           -   -
2            -  -1.286463237      -           -   -
3            -    0.85935678      -           -   -

In [18]:
cf_df = dice_exp.cf_examples_list[0].final_cfs_df

In [19]:
cf_df

   Inflation    Population      Export      Import           GDP
0   0.981015  1.412360e+09  132.828796  160.079062  1.855611e+13
1   4.816369  1.412360e+09  118.151153  160.079062  1.894702e+13
2   0.981015  1.412360e+09  130.004066  160.079062  1.868259e+13
3  14.690764  1.412360e+09  100.306191  160.079062  1.906049e+13

In [20]:
cf_df[features_columns] = scaler.inverse_transform(cf_df[features_columns])

In [21]:
cf_df

    Inflation    Population       Export       Import           GDP
0   11.927732  1.433516e+17  6141.730959  8140.725508  1.855611e+13
1   37.267578  1.433516e+17  5467.816161  8140.725508  1.894702e+13
2   11.927732  1.433516e+17  6012.035238  8140.725508  1.868259e+13
3  102.506848  1.433516e+17  4648.475875  8140.725508  1.906049e+13

In [15]:
cf_df.to_csv('counterfactuals.csv', index=False)